{% include 'header.twig' %}
<div id="main">
    <div id="content-404">
        <h2>404: Sorry, page not found.</h2>
        <p>Go back to the <a href="/">main page</a></p>
    </div>
</div>
{% include 'footer.twig' %}





