{% extends "index.twig" %}

{% block content %}
	<h2>Main page</h2>

	<p>
		Hello. This is a simple CRUD-system, based on / explaining the basics of working with Slim 3
	</p>

	<h3>Resources and references</h3>

	<ul>
		<li>Slim Framework (php | base, v:3.*): <a href="https://github.com/slimphp/Slim" target=_blank>https://github.com/slimphp/Slim</a></li>
		<li>Slim Framework Twig View (php | addon, v:^2.5): <a href="https://github.com/slimphp/Twig-View" target=_blank>https://github.com/slimphp/Twig-View</a></li>
		<li>Slim Framework Flash Messages (php | addon, v:^0.4.0): <a href="https://github.com/slimphp/Slim-Flash" target=_blank>https://github.com/slimphp/Slim-Flash</a></li>
		<li>Slim Framework CSRF Protection (php | addon, v:0.6.0): <a href="https://github.com/slimphp/Slim-Csrf" target=_blank>https://github.com/slimphp/Slim-Csrf</a></li>
		<li>Prism.js (js | syntax highlighter): <a href="https://prismjs.com" target=_blank>https://prismjs.com</a></li>
		<li>Google icons (html, css | beauty): <a href="https://fonts.google.com/icons" target=_blank>https://fonts.google.com/icons</a></li>
	</ul>
	
	<h3>System requirements</h3>
	
	<ul>
		<li>Web server with URL rewriting</li>
		<li>PHP 5.5 or newer</li>
		<li>Mysql 5.6 or newer</li>
		<li title="yes">Personal сomputer</li>
	</ul>
		
	<h3>Database</h3>
	<ul>
		<li>The simple database is in the root directory</li>
		<li>Filename: slim3_helper_db.sql</li>
		<li>don't forget to edit the config file: public_html/config.php</li>
	</ul>

	<h3>Default login/password for admin panel</h3>	

	<ul>
		<li>Path: <a href="/admin">/admin</a></li>
		<li>Login: admin</li>
		<li>Password: password</li>
	</ul>
		


{% endblock %}





