<div id="menu">
	<h2 class="flex-container">
		<span class="material-icons">bookmark</span>
		<span>Pages</span>
		<a id="header-menu-close" href="javascript:void(0);" onclick="document.querySelector('#menu').classList.toggle('active')">
			<span class="material-icons">close</span>
		</a>
	</h2>

	<ul>
		<div class="content-list-row content-list-row-main-page">
			<div class="content-list-row-level">
				<span class="material-icons">chevron_right</span>
			</div>

			<div class="content-list-row-title">
				<a href="/">Main page</a>
			</div>
		</div>

		{% import "menu-list.twig" as macros %}
		{{ macros.pageTree(menu) }}

	</ul>
</div>





