{% extends "index.twig" %}

{% block content %}
	<h2>{{ page.title }}</h2>

	<div id="content-pathway">
		{% for link in pathway %}
		<span class="material-icons">
			arrow_forward
		</span>
		
		<a href="/page/{{ link.alias }}"> {{ link.title }} </a>
		{% endfor %}
	</div>
	

	{{ page.text | raw }}
{% endblock %}






