        <footer>
            <div id="footer-container">
                <a id="footer-logo">
                    <img src="/images/footer-logo.png" alt="logo">
                    <span>Free Marvin</span>
                </a>
                <div>2003.</div>
            </div>
        </footer>
        <script src="/js/admin.js"></script>
    </body>
</html>